<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"../mybatis-3-mapper.dtd">

<mapper namespace="com.metanet.myddareungi.domain.files.repository.IUploadFileRepository">

	    <!-- ResultMap -->
    <resultMap id="UploadFileMap" type="com.metanet.myddareungi.domain.files.model.UploadFile">
        <id property="fileId" column="file_id"/>
        <result property="uploaderId" column="uploader_id"/>
        <result property="fileName" column="file_name"/>
        <result property="uuidFileName" column="uuid_file_name"/>
        <result property="storagePath" column="storage_path"/>
        <result property="fileSize" column="file_size"/>
        <result property="status" column="status"/>
        <result property="reviewedBy" column="reviewed_by"/>
        <result property="reviewedAt" column="reviewed_at"/>
        <result property="uploadAt" column="uploaded_at"/>
    </resultMap>

	
	
	<!-- 파일 업로드 -->
    <insert id="uploadFile" parameterType="com.metanet.myddareungi.domain.files.model.UploadFile">
    <![CDATA[
        INSERT INTO file_upload (
            uploader_id,
            file_name,
            uuid_file_name,
            storage_path,
            file_size,
            status,
            uploaded_at
        )
        VALUES (
            #{uploaderId},
            #{fileName},
            #{uuidFileName},
            #{storagePath},
            #{fileSize},
            #{status},
            CURRENT_TIMESTAMP
        )
    ]]>
    </insert>
    
    <!-- 전체 파일 조회 -->
    <select id="getAllFile" resultType="com.metanet.myddareungi.domain.files.model.UploadFile">
        <![CDATA[
        SELECT
            file_id,
            uploader_id,
            file_name,
            uuid_file_name,
            storage_path,
            file_size,
            status,
            reviewed_by,
            reviewed_at,
            uploaded_at
        FROM file_upload
        ORDER BY uploaded_at DESC
        ]]>
    </select>
    
    <!-- 특정 업로더의 파일 조회 -->
	<select id="getAllFilesByUploaderId" parameterType="long" resultMap="UploadFileMap">
	    <![CDATA[
	    SELECT
	        file_id,
	        uploader_id,
	        file_name,
	        uuid_file_name,
	        storage_path,
	        file_size,
	        status,
	        reviewed_by,
	        reviewed_at,
	        uploaded_at
	    FROM file_upload
	    WHERE uploader_id = #{uploaderId}
	    ORDER BY uploaded_at DESC
	    ]]>
	</select>
	
    <!-- 파일 단건 조회 -->
    <select id="getFile" parameterType="long" resultType= "com.metanet.myddareungi.domain.files.model.UploadFile">
    <![CDATA[
        SELECT
            file_id,
            uploader_id,
            file_name,
            uuid_file_name,
            storage_path,
            file_size,
            status,
            reviewed_by,
            reviewed_at,
            uploaded_at
        FROM file_upload
        WHERE file_id = #{fileId}
        ]]>
    </select>
        <delete id="deleteFile">
        DELETE FROM file_upload
        WHERE file_id = #{fileId}
    </delete>



    <!-- UUID 파일명 조회 -->
    <select id="getUuid" resultType="String">
        SELECT uuid_file_name
        FROM file_upload
        WHERE file_id = #{fileId}
    </select>
</mapper>